{% extends 'base.html.twig' %}

{% block title %}Accessibility Statement{% endblock %}

{% block meta %}Learn about our commitment to ensuring accessibility for all users. Discover how we strive to provide an inclusive online experience and the steps we take to improve accessibility.{% endblock %}

{% block body %}

<nav class="w-full flex text-sm" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
            <a href="{{ path('app_home') }}" class="inline-flex items-center text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">
                <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                </svg>
                Home
            </a>
        </li>
        <li aria-current="Games">
            <div class="flex items-center">
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                </svg>
                <span class="ms-1 md:ms-2 text-black dark:text-white underline">Accessibility Statement</span>
            </div>
        </li>
    </ol>
</nav>

{% include 'includes/_flash_messages.html.twig' %}

<div>
    <h1 class="text-3xl text-black dark:text-white font-raleway font-bold pr-3">Accessibility Statement</h1>
    <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
    <div class="rounded-xl overflow-hidden flex flex-col px-8 py-8 sm:px-5 sm:py-5 mt-5 bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
        <p class="text-black dark:text-white pb-5">
            At "Who Can Play ?", we are committed to creating an inclusive and accessible environment for all users, regardless of ability. We believe that everyone should have the opportunity to explore, learn, and enjoy our content with ease. As part of our ongoing commitment to accessibility, we have implemented several features designed to enhance the user experience for everyone.
        </p>
        <h2 class="text-2xl text-black dark:text-white font-bold">Color Contrast and Design Choices</h2>
        <p class="text-black dark:text-white pb-5">
            Our website uses a carefully selected color scheme of blue and yellow, designed to be visually engaging while ensuring readability for users with various visual impairments. We have also integrated a dark mode option to reduce eye strain and offer an alternative viewing experience, particularly in low-light environments.
        </p>

        <h2 class="text-2xl text-black dark:text-white font-bold">Dark Mode</h2>
        <p class="text-black dark:text-white pb-5">
            To further enhance accessibility, "Who Can Play?" provides a dark mode feature. This option is designed to improve visibility and comfort for users who prefer or require a darker interface. Whether you’re browsing during the day or at night, you can easily switch between light and dark modes to suit your needs.
        </p>

        <h2 class="text-2xl text-black dark:text-white font-bold">JavaScript Enhancements</h2>
        <p class="text-black dark:text-white pb-5">
            We use JavaScript to create a dynamic and interactive user experience. Our scripts are carefully developed to ensure they do not interfere with screen readers or other assistive technologies. We prioritize compatibility and strive to ensure that our site functions seamlessly across a wide range of devices and browsers.
        </p>

        <h2 class="text-2xl text-black dark:text-white font-bold">AJAX for Seamless Navigation</h2>
        <p class="text-black dark:text-white pb-5">
            Our website incorporates AJAX technology to enable smoother, faster navigation. By loading content asynchronously, we minimize page reloads and enhance the overall browsing experience, ensuring that all users can quickly access the information they need without unnecessary delays.
        </p>

        <h2 class="text-2xl text-black dark:text-white font-bold">Ongoing Commitment to Improvement</h2>
        <p class="text-black dark:text-white pb-5">
            We recognize that accessibility is an ongoing process, and we are dedicated to continually improving our site to meet the needs of all users. We welcome feedback from our community to help us identify areas for enhancement and ensure that "Who Can Play?" remains accessible to everyone.
        </p>

        <p class="text-black dark:text-white pb-5">
            If you encounter any accessibility barriers while using our website, or if you have suggestions on how we can improve, please do not hesitate to contact us. Your input is invaluable as we strive to make "Who Can Play?" a more inclusive space for all.
        </p>

        <p class="text-black dark:text-white">
            Thank you for being a part of our community.
        </p>
    </div>
</div>



{% endblock %}