{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block meta %}Find answers to frequently asked questions about our services, policies, and more. Get quick solutions and helpful information to enhance your experience with us.{% endblock %}

{% block body %}

<nav class="w-full flex text-sm" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
            <a href="{{ path('app_home') }}" class="inline-flex items-center text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">
                <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                </svg>
                Home
            </a>
        </li>
        <li aria-current="F.A.Q.">
            <div class="flex items-center">
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                </svg>
                <span class="ms-1 md:ms-2 text-black dark:text-white underline">F.A.Q.</span>
            </div>
        </li>
    </ol>
</nav>

{% include 'includes/_flash_messages.html.twig' %}

<div class="w-full">
    <h1 class="text-3xl text-black dark:text-white font-raleway font-bold pr-3">F.A.Q.</h1>
    <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
    <div class="rounded-xl overflow-hidden flex flex-col px-8 py-8 sm:px-5 sm:py-5 mt-5 bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
        <h2 class="text-2xl dark:text-white font-raleway font-bold mb-5">Frequenty asked questions</h2>

        <details class="group bg-neutral-200 dark:bg-zinc-700 border rounded-xl mb-5">
            <summary class="flex justify-between items-center font-bold cursor-pointer list-none py-5 px-5 gap-3">
                <span class="text-black dark:text-white underline">What is Who Can Play ?</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="white" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" aria-label="See more 'What is Who Can Play ?'">
                        <path d="M6 9l6 6 6-6"></path>
                    </svg>
                </span>
            </summary>
            <div class="text-black dark:text-white px-5 py-5">
                <p class="pb-5"><strong>Who Can Play</strong> is an initiative born of an end-of-study project aimed at democratizing access to video games for people with disabilities. The project is based on a community platform whose very essence depends on the active involvement of <span class="underline">its users</span>.</p>
                <p class="pb-5">At present, video game distribution platforms <span class="underline">do not</span> mention accessibility features in their product descriptions. It was to fill this gap that I developed this application, enabling users to contribute directly to improving accessibility.</p>
                <p>Know of an accessibility feature in a game ? Share it on <strong>Who Can Play</strong> ! Your contribution will enrich the database and highlight these essential features. Together, <strong>we can promote greater inclusion</strong> of people with disabilities in the gaming world.</p>
            </div>
        </details>

        <details class="group bg-neutral-200 dark:bg-zinc-700 border rounded-xl mb-5">
            <summary class="flex justify-between items-center font-bold cursor-pointer list-none py-5 px-5 gap-3">
                <span class="text-black dark:text-white underline">What is a feature ?</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="white" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" aria-label="See more 'What is a feature ?'">
                        <path d="M6 9l6 6 6-6"></path>
                    </svg>
                </span>
            </summary>
            <div class="px-5 py-5">
                <p class="text-black dark:text-white pb-5">A <strong>feature</strong> is an <span class="text-black dark:text-white underline">accessibility option</span> in a video game that should make the game <strong>equally</strong> accessible for people with or without <strong>feature</strong> is an <span class="text-black dark:text-white underline">disabilities</span>.</p>
            </div>
        </details>

        <details class="group bg-neutral-200 dark:bg-zinc-700 border rounded-xl mb-5">
            <summary class="flex justify-between items-center font-bold cursor-pointer list-none py-5 px-5 gap-3">
                <span class="text-black dark:text-white underline">How to submit a feature ?</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="white" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" aria-label="See more 'How to submit a feature ?'">
                        <path d="M6 9l6 6 6-6"></path>
                    </svg>
                </span>
            </summary>
            <div class="text-black dark:text-white px-5 py-5">
                <p class="pb-5">To submit an <strong>accessibility feature</strong>, you must at least be <span class="text-black dark:text-white underline">registered</span> on this application.</p>
                <p class="pb-5">Then, simply go to the <span class="text-black dark:text-white underline">"Make a submission"</span> tab, <span class="text-black dark:text-white underline">select the game</span> you wish to contribute to with your knowledge, choose the represented <span class="text-black dark:text-white underline">disability category</span>, add a <span class="text-black dark:text-white underline">title</span>, <span class="text-black dark:text-white underline">content</span>, and one to three <span class="text-black dark:text-white underline">images</span> to describe your <strong>feature</strong>.</p>
            </div>
        </details>

        <details class="group bg-neutral-200 dark:bg-zinc-700 border rounded-xl mb-5">
            <summary class="flex justify-between items-center font-bold cursor-pointer list-none py-5 px-5 gap-3">
                <span class="text-black dark:text-white underline">How many categories of disability are there ?</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="white" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" aria-label="See more 'How many categories of disability are there ?'">
                        <path d="M6 9l6 6 6-6"></path>
                    </svg>
                </span>
            </summary>
            <div class="text-black dark:text-white px-5 py-5">
                <p class="pb-5">We based our application on the <span class="text-black dark:text-white underline">'Can I Play That' website</span>. Therefore, there are <strong>four</strong> main categories of disability represented :</p>
                <p>- <strong>Deaf and Hard of Hearing</strong></p>
                <p>- <strong>Blind, Low-Vision and Color-Blindness</strong></p>
                <p>- <strong>Cognitive</strong></p>
                <p class="pb-5">- <strong>Motor/Physical</strong></p>
                <p class="pb-5">You can learn more in detail by exploring their <span class="text-black dark:text-white underline">accessibility guide</span> references here : <a href="https://caniplaythat.com/category/resources/accessibility-reference-guides/" class="font-bold hover:text-indigo-800 dark:hover:text-indigo-200">Can I Play That : Accessibility Reference Guides</a></p>
            </div>
        </details>

    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}