{% extends 'base.html.twig' %}

{% block title %}Help{% endblock %}

{% block body %}

<nav class="w-full flex text-sm" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
            <a href="{{ path('app_home') }}" class="inline-flex items-center text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">
                <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                </svg>
                Home
            </a>
        </li>
        <li aria-current="Games">
            <div class="flex items-center">
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                </svg>
                <span class="ms-1 md:ms-2 text-black dark:text-white underline">Help</span>
            </div>
        </li>
    </ol>
</nav>

{% include 'includes/_flash_messages.html.twig' %}

<div>
    <h1 class="text-3xl text-black dark:text-white font-raleway font-bold pr-3">Help</h1>
    <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
    <div class="rounded-xl overflow-hidden flex flex-col px-8 py-8 sm:px-5 sm:py-5 mt-5 bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">

        <div class="grid max-w-4xl lg:max-w-6xl grid-cols-1 mx-auto text-center gap-y-4 sm:gap-x-8 sm:grid-cols-2 lg:grid-cols-3 sm:text-left">
            {# Home #}
            <div class="relative overflow-hidden bg-neutral-200 dark:bg-zinc-700 shadow-md rounded-xl h-full">
                <div class="p-8 text-black dark:text-white">
                    <svg class="fill-indigo-800 dark:fill-indigo-200" width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                        <path d="M192 64C86 64 0 150 0 256S86 448 192 448l256 0c106 0 192-86 192-192s-86-192-192-192L192 64zM496 168a40 40 0 1 1 0 80 40 40 0 1 1 0-80zM392 304a40 40 0 1 1 80 0 40 40 0 1 1 -80 0zM168 200c0-13.3 10.7-24 24-24s24 10.7 24 24l0 32 32 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-32 0 0 32c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-32-32 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l32 0 0-32z" />
                    </svg>
                    <h2 class="mt-4 text-2xl font-bold text-indigo-800 dark:text-indigo-200">Home</h2>
                    <p class="mt-6">Welcome to the 'Who Can Play?' home page, your starting point for exploring everything we have to offer. Whether you're searching for games, resources, or community interactions, you’ll find all the essential links and information right here. Dive into our world and discover what’s new and trending today.</p>
                </div>
            </div>

            {# Games #}
            <div class="overflow-hidden bg-neutral-200 dark:bg-zinc-700 shadow-md rounded-xl h-full">
                <div class="p-8 text-black dark:text-white">
                    <svg class="fill-indigo-800 dark:fill-indigo-200" width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                    </svg>
                    <h2 class="mt-4 text-2xl font-bold text-indigo-800 dark:text-indigo-200">Games</h2>
                    <p class="mt-6">Explore our vast library of games, specially curated to ensure inclusivity and accessibility for all. Here, you can find detailed descriptions, gameplay tips, and community ratings to help you choose the best games suited to your interests and abilities. Let the fun begin!</p>
                </div>
            </div>

            {# F.A.Q. #}
            <div class="relative overflow-hidden bg-neutral-200 dark:bg-zinc-700 shadow-md rounded-xl h-full">
                <div class="p-8 text-black dark:text-white">
                    <svg class="fill-indigo-800 dark:fill-indigo-200" width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path d="M80 160c0-35.3 28.7-64 64-64l32 0c35.3 0 64 28.7 64 64l0 3.6c0 21.8-11.1 42.1-29.4 53.8l-42.2 27.1c-25.2 16.2-40.4 44.1-40.4 74l0 1.4c0 17.7 14.3 32 32 32s32-14.3 32-32l0-1.4c0-8.2 4.2-15.8 11-20.2l42.2-27.1c36.6-23.6 58.8-64.1 58.8-107.7l0-3.6c0-70.7-57.3-128-128-128l-32 0C73.3 32 16 89.3 16 160c0 17.7 14.3 32 32 32s32-14.3 32-32zm80 320a40 40 0 1 0 0-80 40 40 0 1 0 0 80z" />
                    </svg>
                    <h2 class="mt-4 text-2xl font-bold text-indigo-800 dark:text-indigo-200">F.A.Q.</h2>
                    <p class="mt-6">Got questions? We have answers. Visit our Frequently Asked Questions (FAQ) section to quickly find responses to the most common inquiries. From account setup to game recommendations, our FAQ is designed to make your experience smoother and more enjoyable.</p>
                </div>
            </div>

            {# Make a Submission #}
            <div class="relative overflow-hidden bg-neutral-200 dark:bg-zinc-700 shadow-md rounded-xl h-full">
                <div class="p-8 text-black dark:text-white">
                    <svg class="fill-indigo-800 dark:fill-indigo-200" width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
                    </svg>
                    <h2 class="mt-4 text-2xl font-bold text-indigo-800 dark:text-indigo-200">Submissions</h2>
                    <p class="mt-6">Have a game, resource, or idea you’d like to share? Our submissions page is the perfect place to contribute to the 'Who Can Play?' community. Submit your content, and join us in building a richer, more inclusive gaming environment.</p>
                </div>
            </div>

            {# My Account #}
            <div class="relative overflow-hidden bg-neutral-200 dark:bg-zinc-700 shadow-md rounded-xl h-full">
                <div class="p-8 text-black dark:text-white">
                    <svg class="fill-indigo-800 dark:fill-indigo-200" width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" />
                    </svg>
                    <h2 class="mt-4 text-2xl font-bold text-indigo-800 dark:text-indigo-200">My Account</h2>
                    <p class="mt-6">Manage your personal details, preferences, and game lists in the 'My Account' section. Here, you can update your profile, track your submissions, and customize your experience on 'Who Can Play?'. Stay connected and in control with easy access to all your account information.</p>
                </div>
            </div>

            {# About #}
            <div class="relative overflow-hidden bg-neutral-200 dark:bg-zinc-700 shadow-md rounded-xl h-full">
                <div class="p-8 text-black dark:text-white">
                    <svg class="fill-indigo-800 dark:fill-indigo-200" width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                        <path d="M48 80a48 48 0 1 1 96 0A48 48 0 1 1 48 80zM0 224c0-17.7 14.3-32 32-32l64 0c17.7 0 32 14.3 32 32l0 224 32 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 512c-17.7 0-32-14.3-32-32s14.3-32 32-32l32 0 0-192-32 0c-17.7 0-32-14.3-32-32z" />
                    </svg>
                    <h2 class="mt-4 text-2xl font-bold text-indigo-800 dark:text-indigo-200">About</h2>
                    <p class="mt-6">Learn more about 'Who Can Play?'—our mission, our team, and our commitment to making gaming accessible to everyone. This section provides insight into our goals, our history, and how we're working to create a more inclusive gaming community.</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}