{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {# <div class="w-full max-w-[1120px] flex flex-col items-center justify-around gap-[30px] px-[10px] py-[20px]"> #}

        <div>
            <p class="font-luciole">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, minima. Culpa vel officiis quasi veniam commodi nam, architecto itaque dolores saepe assumenda veritatis eveniet, placeat possimus quibusdam laudantium quae cupiditate.</p>
        </div>

        <dialog>
            <p>Test</p>
        </dialog>

    {# </div> #}

{% endblock %}
