{% extends 'admin/_base.html.twig' %}

{% block title %}Add topic to a game{% endblock %}

{% block bodyAdmin %}

{% include 'includes/_flash_messages.html.twig' %}

<h1 class="text-3xl text-black dark:text-white font-raleway font-bold">Add topic to a game</h1>
<hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
<div class="rounded-lg bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
    <div class="p-6 text-black dark:text-white">
        <ul>
            {% for game in games %}
            <li class="my-2 text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200""><a href="{{ path('forum_game', {'id': game.id, 'slug':game.slug}) }}">{{ game.id }}# {{ game.slug }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}