{% extends 'admin/_base.html.twig' %}

{% block title %}Show Topics{% endblock %}

{% block bodyAdmin %}

{% include 'includes/_flash_messages.html.twig' %}

<section id="tab1" class="w-full px-10 py-10">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="h-[30vh] w-full">
            <canvas id="featuresChart" data-labelsfeatures="{{ labels }}" data-datafeatures="{{ data|raw }}"></canvas>
        </div>

        <div class="h-[30vh] w-full">
            <canvas id="gamesChart"></canvas>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('featuresChart');
        var dataLabels = JSON.parse(ctx.dataset.labelsfeatures);
        var dataFeatures = JSON.parse(ctx.dataset.datafeatures);

        var featuresChart = new Chart(ctx, {
            type: 'bar',  // Vous pouvez changer 'bar' en 'pie', 'line', etc.
            data: {
                labels: dataLabels,  // Injecter les labels ici
                datasets: [{
                    label: 'Number of Features',
                    data: dataFeatures,  // Injecter les données ici
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>




{% endblock %}