{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
    <h1>Game in my DB</h1>
        <ul>
            {% for game in games %}
            <a href="{{ path('show_game', {'id': game.db.id}) }}">{{ game.api[0].name }}</a>
            <p>ID du jeu (BDD) : {{ game.db.id }}</p>
            <p>ID du jeu (API) : {{ game.db.idGameApi }}</p>
            {% endfor %}
        </ul>
{% endblock %}