{% extends 'admin/index.html.twig' %}

{% block title %}Show features{% endblock %}

{% block bodyAdmin %}

<div class="flex-grow p-6 overflow-auto bg-gray-200">
    <div class="grid grid-cols-2 gap-6">
        <div class="h-24 col-span-1 bg-white border border-gray-300"></div>
        <div class="h-24 col-span-1 bg-white border border-gray-300"></div>
    </div>
</div>

{% endblock %}
