@tailwind base;
@tailwind components;
@tailwind utilities;

/* Atkinson Hyperlegible font */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Raleway font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
    * {
        font-family: "Atkinson Hyperlegible", sans-serif;
    }
}

@layer components {
    /* Appliquer à tous les wrappers de table */
    [id^="dataTable"][id$="_wrapper"] {
        @apply py-3 bg-white dark:bg-neutral-800 text-black dark:text-white;
    }

    /* Appliquer à tous les sélecteurs de longueur */
    [id^="dt-length-"] {
        @apply ml-4 bg-white dark:bg-neutral-800 text-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 rounded-md px-2 py-1;
    }

    /* Appliquer à tous les champs de recherche */
    [id^="dt-search-"] {
        @apply mr-4 text-black dark:text-white bg-white dark:bg-neutral-800;
    }

    /* Appliquer à toutes les infos de table */
    [id^="dataTable"][id$="_info"] {
        @apply ml-4;
    }
}

/* @font-face {
    font-family: "Luciole";
    src: url('/fonts/Visual_Impairment/LucioleFont/Luciole-Regular.ttf') format('truetype');
} */

/* @font-face {
    font-family: "Luciole Italic";
    src: url('/Fonts/Visual_Impairment/LucioleFont/Luciole-Regular-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Luciole Bold";
    src: url('/Fonts/Visual_Impairment/LucioleFont/Luciole-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Luciole Bold Italic";
    src: url('/Fonts/Visual_Impairment/LucioleFont/Luciole-Bold-Italic.ttf') format('truetype');
} */