{% extends 'base.html.twig' %}

{% block title %}Hello ModeratorController!{% endblock %}

{% block body %}

{{ dump(subtypes) }}
    
<table>
    <thead>
        <tr>
            <th>Game</th>
            <th>Send by</th>
            <th>Existing game</th>
            <th>State</th>
            <th>Disability</th>
        </tr>
    </thead>
    <tbody>
        {% for subtype in subtypes %}
        <tr>
            <th>{{ subtype.id }}</th>
            <td>Utilisateur</td>
            <td>{% if subtype.game == null %} No {% else %} Yes {% endif %}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>    
</table>    






{% endblock %}
