<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Delete account request</h1>

    <p>
        You have requested to delete your account. Please click the link to confirm your request.
    </p>

    <p><a href="{{ absolute_url(path('verify_user', {token: token})) }}">Click this link !</a></p>

    <p>
        If this was not you, please disregard this email.
    </p>
</body>

</html>