{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
    <h1>Search Results</h1>

    {# {{ dump(games) }} #}

    {% if games is empty %}
        <p>No games found.</p>
    {% else %}
        <ul>
            {% for game in games %}
            <li>
                <a href="{{ path('show_api_game', {'id': game.id}) }}">{{ game.name }}</a><br>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}